@import '../common/variables';

.pmdr-time-adjust {
  font: 300 200% $font-main;
  user-select: none;
  width: 50%;
  display: inline-block;
  text-align: center;

  &__display {
    display: inline-block;
    text-align: center;
    width: 1.5em;
    cursor: default;
  }

  &__control--minus, &__control--plus {
    cursor: pointer;
  }
  &__title {
    margin: 0;
    font-size: 50%;
    text-transform: uppercase;
  }
}
